/* my utilities css */
.m1{
  margin: 5px;
}
.m2{
  margin:10px;
}
.m3{
  margin: 0 5px 0 5px;
}
.m4{
  margin: 5px 0 5px 0;
}
.p1{
  padding: 5px;
}
.p2{
  padding:10px;
}
.p3{
  padding: 0 5px 0 5px;
}
.p4{
  padding: 5px 0 5px 0;
}
.flex{
  display: flex;
}
.item-align{
  align-items: center;
}
.justify{
  justify-content: center;
}
.border{
  border: 3px solid;
}
.radius{
  border-radius: 10px;
}
.font{
  font-size: large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.color{
  color: white;
  background-color: rgb(71, 58, 58);
}
.list{
  list-style-type: none;
}
.cursor{
  cursor: pointer;
}
.hover:hover{
  color: blue;
}
.decoration{
  text-decoration: none;
}
.text{
  height: 200px;
  width: 80vw;
}
button{
  background-color: green;
}
.width{
  width: 80vw;
  height: 5vh;
}
.text-align{
  text-align: center;
}
.about{
  height: 75vh;
}
.width1{
  height: 20px;
  width: 20px;
}
.dark{
  color: white;
  background-color: black;
}
.light{
  color: black;
  background-color: white;
}
.h{
  margin-left: 60px;
}
.alert{
  background-color: rgb(139, 210, 139);
  text-align: center;
  border-top: 4px solid blue;
  height: 60px;
}
.dismiss{
  float: right;
  font-size: larger;
  color: white;
  cursor: pointer;

}
option{
  overflow: scroll;
}




